version: '3.8'

services:
  # 1. Redis 服务
  redis:
    image: redis:7.4.6
    restart: always
    container_name: py_redis
    # 修正: 官方镜像需要用命令设置密码
    command: redis-server --requirepass 123456py
    ports:
      - "16379:6379"  # 建议: 映射端口方便你用RDM/Navicat连接查看

  # 2. MySQL 服务
  mysql:
    image: mysql:8.4.2
    ports:
      - "9527:3306"
    restart: always
    container_name: py_mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_ROOT_PASSWORD: 123456py
      MYSQL_DATABASE: django
    volumes:
      - mysql:/var/lib/mysql

  # 3. Django 后端服务
  backend:
    depends_on:
      - redis
      - mysql
    # 注意: 这里意味着你的 Dockerfile 必须在 backend 文件夹里
    build: ./backend 
    image: py_backend
    container_name: py_backend
    restart: always
    # 你的后端在 Dockerfile 里 EXPOSE 8000，但这里没映射端口
    # 如果你是想让 Nginx 转发给它，这样是可以的（内部通信）
    # 但为了调试方便，通常建议暂时加上端口映射:
    ports:
      - "8000:8000"
    volumes:
      - backend_logs:/app/logs

  # 4. Nginx 服务
  nginx:
    depends_on:
      - backend
    # 注意: 这里意味着你必须有一个 nginx 文件夹，且里面有 Dockerfile
    build: ./nginx
    image: py_nginx
    container_name: py_nginx
    ports:
      - "5001:80"
      - "5002:81"
    volumes:
      - nginx_logs:/var/log

# 全局数据卷声明
volumes:
  mysql:
  backend_logs:
  nginx_logs: