.plan-wrapper {
  height: 100%;
  padding: 20px;
}

.plan-tabs {
  height: calc(100% - 40px);

  :deep(.el-tabs__content) {
    height: calc(100% - 55px);

    .el-tab-pane {
      height: 100%;
      overflow-y: auto;
    }
  }
}

.main_box {
  height: 100%;
  display: flex;

  // 右侧样式
  .right_box {
    flex: 1;
    padding: 10px;

    .name_edit {
      display: flex;
    }
  }
}

.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}