.stat-card, .bug-stat-card {
  margin-bottom: 20px;
}

.stat-item, .bug-stat-item {
  text-align: center;
  padding: 10px;
}

.stat-value, .bug-stat-value {
  font-size: 20px;
  font-weight: bold;
  color: var(--el-color-primary);
}

.bug-stat-value {
  color: var(--el-color-error);
}

.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}