.container {
  display: flex;
  flex-direction: column;
  height: 90%;
}
.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.button {
  text-align: center;
  margin-top: 10px;
}