.head_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;

  // 左侧内容的样式
  .left_box {
    display: flex;
    align-items: center;
    height: 55px;
    cursor: pointer;

    .el-icon {
      margin: 0 10px;
    }

    .el-select {
      margin-right: 10px;
    }
  }

  // 中间部分样式
  .center_box {
    font: bold 20px/36px "微软雅黑";
    border: 1px dashed var(--el-color-primary);
    padding: 0 30px;
    border-radius: 15px;
  }

  // 右侧样式
  .right_box {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;

    .notice {
      margin-top: 20px;
      cursor: pointer;

      :deep(.el-badge__content) {
        transform: translate(20%, -70%);
        top: 10%;
        right: 20%;
      }
    }

    .time_info {
      font-weight: bold;
      margin-right: 10px;
    }

    .fullscreen {
      margin: 5px 5px 0 -5px;
      cursor: pointer;
    }

    .nickname {
      margin: 0 5px;
      font-size: 15px;
      font-weight: bold;
    }

    .avatar {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }
}