.right_box .title {
  font: bold 18px/20px 'microsoft yahei';
  text-indent: 10px;
}

.el-card {
  margin: 2px;
}

p {
  font: bold 13px/20px 'microsoft yahei';
  margin: 10px;
}

.report_title {
  font: bold 24px/30px 'microsoft yahei';
  text-align: center;
  color: #107dec;
}

.title {
  font: bold 15px/20px 'microsoft yahei';
}

.chartBox {
  height: 200px;
}

.el-tag {
  margin: 2px;
  cursor: pointer;
}