.el-container {
  height: 100%;

  .el-aside {
    //左侧菜单右边边框阴影
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease-in-out; /* 定义宽度变化的过渡效果 */
  }

  .el-header {
    //头部顶部阴影
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
    padding: 0;
    height: 50px;
    z-index: 99;
  }

  .el-footer {
    height: 30px;
    //页脚顶部阴影
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }

  .el-main {
    padding: 0;
  }
}